<%- include("header") -%>
    <h1>About us</h1>
    <p>
        I am a new graduate from Kristianstad University. 
        I have used embedded javascript frame work, html, css 
        node and express js to create such a nice and simple 
        to to list application.

    </p>
    <%- include("footer") -%>